.logoMain {
  height:60px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .logoMain {
    height:40px;
  }
}



img {
  /* padding: 0px; */
  /* width: 150px; */
}